body{
    padding: 10px;
}
.btn{
    width: 50px !important;
    height: 25px !important;
    padding: 5px !important;
    font-size: 10px !important;
}

table{
    border: 1px solid;
}

table#prodLst td{
    border: 1px solid;
}

table#prodLst th{
    border: 1px solid;
}